body{
    background-image: url(img/100x100.gif);
    color: rgb(0, 0, 255);
}

h1{
    background-color: blue;
    color: blue;
    width: 394px;
    height: 40px;
}

div{
    position: absolute;
    top: 200px;
    left: 400px;
    background-color: yellow;
    color: yellow;
    width: 420px;
    height: 20px;
    padding: 20px;
    border:yellow 20px solid;
    margin: 20px;
    opacity: 0.6;
}